.jumbotron {
  padding-top: 10rem;
  background-color: #e2edff;
}

.rounded-circle {
  width: 200px;
  height: 200px;
}

#projects {
  background-color: #e2edff;
}

.card {
  width: 95%;
  height: 100%;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

section {
  padding-top: 5rem;
}
